.tickets-title-container {
    padding-top: 10rem;
    padding-bottom: 3rem;
    text-align: center;
}

.tickets-title {
    font-family: var(--decorative);
    font-size: 2.5rem;
    font-weight: 400;
    border-bottom: 1px solid var(--gold);
    display: inline;
}

.all-tickets-container {
    max-width: 65vw;
    margin: 0 auto;
    border-bottom: 0.1px solid var(--light-gray);
}

.tickets-message {
    font-size: 1.6rem;
    margin-left: 2rem;
    color: var(--gold);
}

.pagination-buttons {
    max-width: 65vw;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.success-message {
    color: var(--gold);
    font-weight: 400;
    text-align: center;
}

.error-message {
    color: var(--gold);
    font-weight: 400;
    text-align: center;
}

.ticket-reservation form .form-field {
        margin-bottom: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
}

.ticket-reservation form .form-field input {
    width: 250px;
}

.ticket-reservation form {
    margin-bottom: 0px;
}

.reservation-title-container {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    text-align: center;
}

.reservation-message {
    font-size: 1.6rem;
    margin-left: 2rem;
    color: var(--gold);
    text-align: center;
}

.ticket-reservation form .form-field select {
    font-family: var(--text);
    font-size: var(--font-size);
    width: 280px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-btn {
  margin-bottom: 5px;
}
