/* colors */
:root {
    --black: #171717;
    --gold: #bfa48d;
    --light-gray: #d9d9d9;
    --white: #f1f1f1;
    --text: "Josefin Sans", sans-serif;
    --decorative: "Cormorant Unicase", serif;
    --font-size: 1.3rem;
}

.App {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: var(--text);
    font-weight: lighter;
    color: var(--light-gray);
    font-size: var(--font-size);
    overflow-x: hidden;
    background-color: var(--black);
    scroll-behavior: smooth;
}
