.first-section {
    background-image: url("../../../public/images/home-background-image-1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: var(--decorative);
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 300;
}

h3 {
    font-family: var(--decorative);
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

span {
    color: var(--gold);
    font-weight: 500;
}

.title {
    margin-top: 0rem;
    padding-top: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-container {
    position: relative;
    width: 7rem;
    height: 7.9rem;
    margin-top: 6rem;
    margin-bottom: 12rem;
    background-image: url("../../../public/images/home-arrow.png");
    background-size: cover;
    transition: background-image 0.3s ease;
}

.arrow-container:hover {
    background-image: url("../../../public/images/home-arrow-filled.png");
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.second-section img {
    width: 65vw;
    height: auto;
}

.third-section {
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65vw;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-title-container {
    margin-left: 4rem;
}

.section-title {
    font-family: var(--decorative);
    font-size: 2.5rem;
    font-weight: 400;
    border-bottom: 1px solid var(--gold);
    display: inline;
}

.description {
    padding: 4rem;
    margin: 5rem 0;
    margin-right: 5rem;
    border-radius: 6.25rem 0rem;
    border-right: 0.4px solid #d9d9d9;
    border-left: 0.4px solid #d9d9d9;
    background: rgba(217, 217, 217, 0.04);
    backdrop-filter: blur(2px);
    align-self: flex-start;
    max-width: 40rem;
    position: relative;
}

.museum-icon {
    width: 6.4rem;
    height: 6.4rem;
    position: absolute;
    bottom: -3rem;
    left: -3rem;
}

.description span {
    color: var(--light-gray);
    font-weight: 500;
    font-family: var(--decorative);
    font-size: 90%;
}

.about-photo img {
    width: 28rem;
    height: auto;
}

.more {
    margin-right: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.more a {
    color: var(--light-gray);
    text-decoration: none;
    border-bottom: 1px solid var(--light-gray);
    margin-left: 0.5rem;
}

.more-icon {
    height: 1.8rem;
    width: 1.8rem;
}

.fourth-section {
    width: 65vw;
    margin: 5rem auto;
    padding-top: 4rem;
}

.fifth-section {
    width: 65vw;
    margin: 0 auto;
    padding: 4rem 0;
}

.exhibitions-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    height: 3rem;
}

.sixth-section {
    width: 65vw;
    margin: 0 auto;
    padding-bottom: 8rem;
}

@media (max-width: 1000px) {
    .first-section .title h1 {
        font-size: 4rem;
        padding: 0 2rem;
    }
    .second-section {
        display: none;
    }
    .third-section {
        flex-direction: column;
    }
    .more {
        padding-bottom: 2rem;
    }
    .exhibitions-description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }
}
