.login-title-container,
.reset-title-container {
    padding-top: 10rem;
    padding-bottom: 3rem;
    text-align: center;
}

.login-title,
.reset-title {
    font-family: var(--decorative);
    font-size: 2.5rem;
    font-weight: 400;
    border-bottom: 1px solid var(--gold);
    display: inline;
}

form {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

input {
    border-radius: 0.75rem;
    border: 0.4px solid var(--light-gray);
    color: var(--light-gray);
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--text);
    padding: 0 1rem;
    background: rgba(24, 24, 24, 0.6);
    backdrop-filter: blur(2px);
    width: 22.5rem;
    height: 2.5rem;
}

.login-button,
.reset-button {
    width: 20%;
    margin-top: 2rem;
}

.form-container {
    background-image: url("../../../public/images/about-background-image.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-question {
    font-size: 90%;
}

.login-question a {
    color: var(--gold);
    text-decoration: underline;
}

.error-login,
.error-reset,
.message-reset {
    margin-bottom: 2rem;
    color: var(--gold);
    font-size: 1.4rem;
}

@media (max-width: 1100px) {
    .login form {
        width: 80vw;
    }
    .login-button {
        width: 60%;
    }
}
